<ul class="nav nav-pills mb-3">
  <li class="nav-item">
    <a class="nav-link" href=<%= admin_root_path %>>Loan Requests</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Active Loans</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href=<%= admin_closed_loans_path =%>>Closed Loans</a>
  </li>
</ul>
<%= render partial: 'loans/admin_loan', collection: @loans, as: 'loan' %>